.actor-image-cls{
    box-shadow: 1px 0px 20px 7px grey;
  }
  .ion-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    }