<ion-header class="custom-header">

  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="saveMultiplePhotos()" style="font-size:16px">
        <ion-icon name="save"></ion-icon>Save
      </ion-button>
    </ion-buttons>
   
    <ion-title style="padding-left: 25px;font-size:16px">
      <ion-icon name="people"></ion-icon> Multiple Photos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" style="font-size:24px">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="closeModal()" style="font-size:24px">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="!disableMore">
    <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title>Choose Images to Upload</ion-card-title>
      </ion-card-header>
      <ion-card-content>


        <input id="uploadBtn" style="display: none" #hiddenfileinput type="file" class="upload"
          (change)="uploadFile($event.target.files)" />
        <ion-button style="margin-left:10px;margin-top: -8px" color="danger" (click)="hiddenfileinput.click()"
          class="ion-color md button button-solid ion-activatable ion-focusable hydrated ion-color-dark">
          <ion-icon name="cloud-upload" slot="start"></ion-icon> Upload
        </ion-button>

      </ion-card-content>
    </ion-card>
  </div>
  <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title>Selected File:<b>{{ fileName }}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="percentage | async as pct">
        Progress: {{ pct | number }}%
        <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="snapshot | async as snap">
        File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
        {{ snap.bytesTransferred | fileSizePipe }}
        <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
          <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
          <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
          <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header style="font-size: 19px;
      border-bottom: 1px solid #d7d8da;
      box-shadow: 11px 20px 33px 3px grey">
      <ion-icon name="images-sharp"></ion-icon> &nbsp; Profile Pics
    </ion-list-header>

    <ion-item *ngFor="let item of imageList ">
      <ion-avatar slot="start">
        <img [src]="item">
      </ion-avatar>
      <ion-label>
        <h2 style="color: black;">
          <ion-icon name="at-circle-sharp"></ion-icon> &nbsp; Uploaded by
        </h2>
        <h3 style="color: black;
          margin-left: 31px;">{{userName}}</h3>
        <div class="ion-text-end" style="margin-left: 15px;color: black;">
           
        </div>
      </ion-label>

    </ion-item>

    <ion-item *ngIf="imageList.length==0">
      <ion-avatar slot="start">
        <img src='../../assets/icons/actor-color.svg'>
      </ion-avatar>
      <ion-label>
        <h2 style="color: black;">
          <ion-icon name="people-circle-sharp"></ion-icon> &nbsp; Please upload your Avatars
        </h2>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cloud-done-sharp"></ion-icon> &nbsp; Uploaded!
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="UploadedFileURL | async as url">
        <img style="max-width: 67%;" [src]="url" />
        <!-- <a [href]="url" target="_blank" rel="noopener">Download</a> -->
      </div>
      File Size: {{ fileSize | fileSizePipe }}
      <ion-button expand="full" color="dark" (click)="isUploading = isUploaded = false">Upload More</ion-button>
    </ion-card-content>
  </ion-card>


  <!-- <ion-card color="default" class="ion-text-center" *ngFor="let item of imageList ">
    <ion-card-header>
      <ion-card-title>
        {{ item.name }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img style="max-width: 67%;" [src]="item" />
    </ion-card-content>
  </ion-card> -->
</ion-content>