
  .avatar {
    vertical-align: middle;
    width: 71px;
    height: 68px;
    border-radius: 46%;
    border: 3px solid floralwhite;
    //box-shadow: 36px 54px 20px 19px rgb(0 0 0);
  }
  .actor-cls {
    border-radius: 54%;
    height: 109px;
    width: 100px;
  } 
  div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 77px;
    margin-right:5px
    }